$rb-font-path: '../fonts' !default;

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;

  src: url('#{$rb-font-path}/Roboto-Light.eot');
  src: local('Roboto Light'),
  local('Roboto-Light'),
  url('#{$rb-font-path}/Roboto-Light.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto ';
  font-weight: 400;
  font-style: normal;

  src: url('#{$rb-font-path}/Roboto-Regular.eot');
  src: local('Roboto Regular'),
  local('Roboto-Regular'),
  url('#{$rb-font-path}/Roboto-Regular.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto ';
  font-weight: 400;
  font-style: normal;

  src: url('#{$rb-font-path}/Roboto-Medium.eot');
  src: local('Roboto Medium'),
  local('Roboto-Medium'),
  url('#{$rb-font-path}/Roboto-Medium.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto ';
  font-weight: 700;
  font-style: normal;

  src: url('#{$rb-font-path}/Roboto-Bold.eot');
  src: local('Roboto  Regular'),
  local('Roboto-Bold'),
  url('#{$rb-font-path}/Roboto-Bold.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/Roboto-Bold.woff') format('woff');
}

